.page{
display: flex;
width: 100%;
justify-content: flex-end; 
gap: 10px;


& div[role="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 40px;
    height: 40px;
    background:#1677ff;
    color: #fff;
    border-radius: 7px;

    &:active {transform:translateY(1px)}
    &:hover{ background-image:linear-gradient(to top, rgba(0,0,0,.05) 0%,rgba(0,0,0,.05) 100%);}
}




}