.container {
    width: 100%;
    min-height: 80px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -8px -11px 15px 5px rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;

    & a:hover {
        color: rgb(143, 137, 137);
    }
}