.container {
    overflow: overlay;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 7px;
    background-color: rgb(191, 224, 224);
    gap: 30px;
    position: relative;
    min-width: 300px;
    min-width: 400px;
    min-height: 500px;

    & input {
        padding: 20px;
        border-radius: 7px;

        &:focus {
            background-color: rgb(235, 222, 222);
        }
    }
}

.option {
    display: none;
    width: 300px;
    height: 300px;
    background-color: rgb(150, 202, 226);
  
}

.open_option {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.container_employees {
    cursor: pointer;
    display: flex;
    gap: 5px;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    &:hover {
        background-color: rgb(187, 203, 206);
    }
}

.scroll {
    height: 100%;
    width: 100%;
}
